<#@ Dsl processor="DslDirectiveProcessor" requires="fileName='..\..\Dsl\DslDefinition.dsl'" #>
<#
	// CmdSet Guid must be defined before master template is included
	// This Guid must be kept synchronized with the CommandSetId Guid in Constants.tt
	Guid guidCmdSet = new Guid ("65083ca3-039c-4378-9beb-9a7f1cfd839f");
#>
<#@ include file="DslPackage\GeneratedVSCT.tt" #>
